<% title 'Edit ' + @user.name %>

<% form_for @user do |f| %>
  <table>
    <tr><td><%= f.error_messages %></td></tr>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email %></td>
    </tr><td></td><td><%= f.submit 'Submit' %></td></tr>
  </table>
<% end %>

