<title>New User</title>
<h1>New User</h1>
<p><small><%= link_to 'Main', users_path %></small></p>

<% form_for @user do |f| %>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
      <td><%= error_message_on @user, :name, :prepend_text => "Name " %></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email %></td>
      <td><%= error_message_on @user, :email, :prepend_text => "Email address " %></td>
    </tr><td></td><td><%= f.submit 'Submit' %></td></tr>
  </table>
<% end %>

