<h1><%= @user.name %></h1>
<p><small><%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Delete', @user, :confirm => 'Are you sure?', :method => :delete %> | <%= link_to 'Main', users_path %></small></p>

Email: <%= @user.email %>
